<!DOCTYPE html>
<html lang="ja">
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/public/css/index.css" />
        <script type="text/javascript" src="/public/js/index.js"></script>
    </head>
    <body>
        <div class="container">
            <p><%= message %></p>
        </div>
        <div>
            <a href="?name=TEST&age=17">GETのテスト！！</a>
            <p>Name:<%= name %></p>
            <p>Age:<%= age %></p>
        </div>

        <div>
            <form action="/" method="POST">
                <p>好きなスポーツは何ですか？</p>
                <input type="text" name="sports">
                <input type="submit" value="POSTのテスト！！"></input>
            </form>
            <p>好きなスポーツは・・・<%= sports %>です</p>
        </div>
    </body>
</html>
